<nav class="pcoded-navbar bgColor">
    <div class="nav-list navMenu">
        <div class="pcoded-inner-navbar main-menu">
            <ul class="pcoded-item pcoded-left-item">
                <li class=" active">
                    <a routerLink="./" routerLinkActive="active" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">Dashboard</span>
                    </a>
                </li>
                <li class="" [hidden]="!isUser">
                    <a routerLink="./pools" routerLinkActive="active" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Investment</span>
                    </a>
                </li>
                <!-- <li [hidden]="!isUser" class="pcoded-hasmenu">
                    <a routerLink="./pools" routerLinkActive="active" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Investment</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li>
                            <a routerLink="./pools" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Requests</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="./pools" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Pools</span>
                            </a>
                        </li>
                    </ul>
                </li> -->
                <li [hidden]="isUser" class="">
                    <a routerLink="./pools" routerLinkActive="active" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Investments</span>
                    </a>
                </li>
                <li  [hidden]="isUser" class="">
                    <a routerLink="./manage-users" routerLinkActive="active" class="waves-effect waves-dark">
                      <span class="pcoded-micon">
                      <i class="feather icon-user"></i>
                      </span>
                        <span class="pcoded-mtext">Manage Customers</span>
                    </a>
                </li>

                <li  [hidden]="isUser" class="">
                    <a routerLink="./manage-career" routerLinkActive="active" class="waves-effect waves-dark">
                      <span class="pcoded-micon">
                      <i class="feather icon-user"></i>
                      </span>
                        <span class="pcoded-mtext">Manage Careers</span>
                    </a>
                </li>

                <li  [hidden]="isUser" class="">
                    <a routerLink="./manage-career/applicants" routerLinkActive="active" class="waves-effect waves-dark">
                      <span class="pcoded-micon">
                      <i class="feather icon-user"></i>
                      </span>
                        <span class="pcoded-mtext">Career Applicants</span>
                    </a>
                </li>
                <li  [hidden]="isUser" class="">
                    <a routerLink="./manage-category" routerLinkActive="active" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                        <i class="feather icon-user"></i>
                        </span>
                        <span class="pcoded-mtext">Categories</span>
                    </a>
                </li>

                <li [hidden]="isUser" class="pcoded-hasmenu">
                    <a class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Users</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li>
                            <a routerLink="./list-admins" routerLinkActive="active" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Admins</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a routerLink="./profile" routerLinkActive="active"  class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                        <i class="feather icon-user"></i>
                        </span>
                        <span class="pcoded-mtext">Profile</span>
                    </a>
                </li>
                <li class="">
                    <a routerLink="./manage-news" routerLinkActive="active"  class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                        <i class="feather icon-user"></i>
                        </span>
                        <span class="pcoded-mtext">News</span>
                    </a>
                </li>
                <li class="">
                    <a (click)="logout()" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                        <i class="feather icon-log-out"></i>
                        </span>
                        <span class="pcoded-mtext">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
