<div class="pcoded-content">

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                      <div *ngIf="admin==null" class="lds-default">
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                      </div>
                      <div *ngIf="admin!=null" class="col-xl-12 col-md-12">
                          <div class="card latest-update-card">
                              <div class="card-block">
                                  <nav>
                                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                          <a class="nav-item nav-link active" id="nav-home-tab"
                                              data-toggle="tab" href="#nav-home" role="tab"
                                              aria-controls="nav-home"
                                              aria-selected="true">Account</a>
                                      </div>
                                  </nav>

                                  <div class="tab-content" id="nav-tabContent">
                                      <div class="tab-pane fade show active" id="nav-home"
                                            role="tabpanel" aria-labelledby="nav-home-tab">

                                          <div class="update-profile-form">

                                              <div class="form-group">
                                                  <div class="row">
                                                      <div class="col-md-2">
                                                          <span>Full Name</span>
                                                      </div>
                                                      <div class="col-md-5">
                                                          <label for="firstname">First Name</label>
                                                          <input readonly [(ngModel)]="admin.first_name"  type="text" class="form-control"
                                                                  id="firstname">
                                                      </div>
                                                      <div class="col-md-4 ph-4"><label for="lastname">Last
                                                          Name</label>
                                                          <input  readonly [(ngModel)]="admin.last_name" type="text" class="form-control"
                                                                  id="lastname">
                                                      </div>
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <div class="row">
                                                      <div class="col-md-2">
                                                          <span>E-mail</span>
                                                      </div>
                                                      <div class="col-md-9">
                                                          <label for="email">E-mail</label>
                                                          <input readonly [(ngModel)]="admin.email" type="email" class="form-control"
                                                                  id="email">
                                                      </div>
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <div class="row">
                                                      <div class="col-md-2">
                                                          <span>Phone</span>
                                                      </div>
                                                      <div class="col-md-9">
                                                          <label for="phone">Phone Number</label>
                                                          <input readonly [(ngModel)]="admin.phone_number" type="tel" class="form-control"
                                                                  id="phone">
                                                      </div>
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <div class="row">
                                                      <div class="col-md-2">
                                                          <span>Address</span>
                                                      </div>
                                                      <div class="col-md-9">
                                                          <label for="address">Address</label>
                                                          <input readonly [(ngModel)]="admin.home_address" type="tel" class="form-control"
                                                                  id="address">
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <div class="row">
                                                      <div class="col-md-2"><span>Country</span></div>
                                                      <div class="col-md-9">
                                                          <label for="country">Country</label>
                                                          <select [(ngModel)]="admin.country" class="form-control" name="country"
                                                                  id="country">
                                                              <option readonly value="0" hidden>Select</option>
                                                              <option *ngFor="let country of countries" [ngValue]="country">
                                                                  {{country}}
                                                              </option>
                                                          </select>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <div class="row">
                                                      <div class="col-md-2"><span>Gender</span></div>


                                                      <div class="col-lg-2 col-md-2">
                                                          <div class="pretty p-icon p-square" style="margin-top: 2.2rem;">
                                                              <input readonly (click)="admin.gender='Male' " class="form-check-input"
                                                                      type="radio" id="male" name="gender"
                                                                      value="male" [checked]="admin.gender === 'Male'">
                                                              <div class="state p-warning-o">
                                                                  <i class="icon fa fa-check"></i>
                                                                  <label for="male" style="font-size: 15px;">Male</label>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="col-lg-2 col-md-2" style="margin-top: 2.2rem;">
                                                          <div class="pretty p-icon p-square">
                                                              <input readonly (click)="admin.gender='Female' " class="form-check-input "
                                                                      type="radio" name="gender" id="female"
                                                                      value="female" [checked]="admin.gender === 'Female' ">
                                                              <div class="state p-warning-o">
                                                                  <i class="icon fa fa-check"></i>
                                                                  <label for="female" style="font-size: 15px;">Female</label>
                                                              </div>
                                                          </div>
                                                      </div>

                                                  </div>
                                              </div>
                                              <div class="form-group" style="position: relative;">
                                                  <div class="row">
                                                      <div class="col-md-2"><span>Date of Birth</span>
                                                      </div>
                                                      <div class="col-md-3">
                                                          <label for="month">Month</label>
                                                          <select disabled [(ngModel)]="admin.month_of_birth" name="month" id="month"
                                                                  class="form-control">
                                                              <option *ngFor="let month of monthComponent" [ngValue]="month.count" >{{month.title}}</option>

                                                          </select>
                                                      </div>
                                                      <div class="col-md-3"><label for="day">Day</label>
                                                          <select disabled [(ngModel)]="admin.day_of_birth" name="day" id="day"
                                                                  class="form-control">
                                                              <option *ngFor="let day of dayComponent" [ngValue]="day">{{day}}</option>

                                                          </select>
                                                      </div>
                                                      <div class="bgline"></div>
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <div class="row">
                                                      <div class="col-md-2">
                                                          <span>Work Place</span>
                                                      </div>
                                                      <div class="col-md-9">
                                                          <label for="workplace">Work Place</label>
                                                          <input readonly [(ngModel)]="admin.where_you_work" type="text" class="form-control"
                                                                  id="workplace">
                                                      </div>
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <div class="row">
                                                      <div class="col-md-2">
                                                          <span>Average Monthly income</span>
                                                      </div>
                                                      <div class="col-md-9">
                                                          <label for="avgmonthly">income</label>
                                                          <input readonly [(ngModel)]="admin.average_monthly_income" type="number" class="form-control"
                                                                  id="avgmonthly">
                                                      </div>
                                                  </div>
                                              </div>

                                              <div class="form-group" style="position: relative;">
                                                <div class="row">
                                                    <div class="col-md-2"><span>Edit User Type</span>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label for="month">Type</label>
                                                        <select  [(ngModel)]="admin.user_category" name="userType" id="userType"
                                                                class="form-control">
                                                            <option value="Admin" >Admin</option>
                                                            <option  value="SuperAdmin" >SuperAdmin</option>
                                                            <option  value="Marketer" >Marketer</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                              <div class="form-group">
                                                  <div class="row">
                                                      <div class="col-md-4 offset-7 mt-4">
                                                          <input type="button" [promiseBtn]="isSubmitting" (click)="updateProfile()" class="btn btn-update-profile" value="Update Profile">
                                                      </div>
                                                  </div>
                                              </div>

                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
