<div *ngIf="!selectedUser" class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Manage Admins</h5>
                                    <a routerLink="/admin/create-admin" style="float: right;"routerLinkActive="active" class="btn btn-primary" >
                                        Create Admin
                                    </a>
                                </div>

                                <div *ngIf="!isLoading" class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table datatable 
                                                class="table appTable table-striped nowrap">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Phone Number</th>
                                                <th>User Category</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-href="#viewUserProfile" (click)="viewUserDetail(i)" *ngFor="let user of users;let i = index;">
                                                <td>{{user.first_name}} {{user.last_name}}</td>
                                                <td >{{user.email}}</td>
                                                <td >{{user.phone_number}}</td>
                                                <td >{{user.user_category}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div *ngIf="isLoading" class="lds-default">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>