<div class="pcoded-content">
  <div class="pcoded-inner-content">
      <div class="main-body">
          <div class="page-wrapper">
              <div class="page-body category">
                  <div class="row">
                      <div class="col-sm-4">
                          <div class="card">
                              <div class="card-header">
                                  <h5>Add News</h5>
                              </div>
                              <div class="card-block">
                                  <form (ngSubmit)="addNews(news)" #createNewsForm="ngForm" class="form">
                                      <div class="form-group">
                                          <input [(ngModel)] ="news.title" required type="text" name='title'
                                                 class="form-control" id="title"
                                                 placeholder="Enter text for News">
                                      </div>
                                      <div>
                                        <input [(ngModel)] ="news.body" required type="texArea" name='body'
                                        class="form-control" id="body"
                                        placeholder="Enter News body">
                                      </div>
                                      <br>
                                      <div class="form-group">
                                          <input  type="submit" [disabled]="!createNewsForm.form.valid" id="actionBtn" value="{{buttonText}}" class="btn btn-success addCategory">
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-8">
                          <div class="card">
                              <div class="card-block">
                                  <div class="dt-responsive table-responsive">
                                      <table id="categoryTable"
                                             class="table table-striped category-table">
                                          <thead>
                                          <tr>
                                              <th scope="col">S/N</th>
                                              <th scope="col">Text</th>
                                              <th scope="col">Action</th>
                                          </tr>
                                          </thead>
                                          <tbody *ngIf="isLoading" >
                                            <td></td>
                                            <td>
                                                <div  class="lds-default">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </td>
                                            <td></td>
                                          </tbody>
                                          
                                          <tbody *ngIf="!isLoading">
                                          <tr *ngFor="let news of newsList;let i=index">
                                              <td>{{i+1}}</td>
                                              <td >
                                                  <input *ngIf="news.inEditMode" type="text" [(ngModel)]="news.title"><button (click)="updateNews(news)" *ngIf="news.inEditMode">{{updateButtonText}}</button>
                                                  <a *ngIf="!news.inEditMode" href='#'>{{news.title}}</a>
                                              </td>
                                              <td>
                                                <a *ngIf="news.inEditMode" (click)="news.inEditMode=!news.inEditMode" href="#" data-toggle="modal" data-target="#nullModal"><i class="fa fa-check"></i></a>  
                                                <a *ngIf="!news.inEditMode" (click)="news.inEditMode=!news.inEditMode" href="#" data-toggle="modal" data-target="#nullModal"><i class="fa fa-pencil-alt"></i></a> | 
          
                                                <a (click)="deleteNews(news)" id="delCat"><i class="fa fa-trash"></i></a>
                                              </td>
                                          </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>

      <div id="styleSelector">
      </div>
  </div>
</div>